.schedule {
  margin-top: 30px;
}

.schedule:hover {
  border-right: 2px solid #fafafa;
}

.schedule:hover .header {
  background: #fafafa;
}

.header {
  border-bottom: 1px solid #fafafa;
  display: flex;
  padding: 3px 0;
}

.header__hours {
  padding-left: 10px;
  margin-right: 14px;
}

.content .item {
  display: flex;
  width: 100%;
  border-bottom: 2px solid #f7f7f7;
}

.item .item__hours {
  width: 75px;
  padding: 0 10px;
  background: #fafafa;
}

p.h__start,
p.h__end {
  margin-bottom: 0;
  font-family: monospace;
  font-size: 20px;
  font-weight: bold;
}

p.h__start span,
p.h__end span {
  margin-left: 2px;
}

.item .item__body {
  display: flex;
  align-items: center;
  padding-left: 9px;
}

.item__body p {
  margin: 0;
}

.item__body p span.badge {
  position: relative;
  top: -2px;
}

.credit {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  color: #bbb;
  font-size: 10px;
}